body{
    
    }

    .header{
        background:#930000;
        padding:20px;
        margin-bottom:10px;
        color:#fff;
    }

    .contentGame p{
       
    }

    h4{
        margin-bottom:20px;
        
    }

    h6{
        color:#930000;
        float:left;
        padding-right:10px;
        margin:0px;
        position:relative;
        top:2.1px;
    }
    